<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.about.zhiye">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".ZhiYeApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zhiye.Light.NoActionbar.Translucent">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="${com_google_android_backup_api_key}"/>
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="${bug_hd_sdk_general_key}"/>
        <meta-data
            android:name="fir_token"
            android:value="${fir_token}"/>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ZhihuWebActivity"
            android:label="@string/title_activity_zhihu_web">
        </activity>
        <activity
            android:name=".activity.PickDateActivity"
            android:label="@string/title_pick_date"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zhiye.Light.NoActionbar">
        </activity>
        <activity
            android:name=".activity.SingleNewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zhiye.Light.NoActionbar">
        </activity>
        <activity
            android:name=".activity.ThemeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zhiye.Light.NoActionbar">
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/action_title_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zhiye.Light.NoActionbar.Preferences">
        </activity>

        <service android:name="com.qiangxi.checkupdatelibrary.service.DownloadService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.about.zhiye"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/checkupdatelibrary_uri_grant"/>
        </provider>
    </application>

</manifest>